/********************************
COLORS
#C9F0FF #83eaf1
#4B88A2 #68d5ff
#254E70 #8ed8e6
#002642
#f16059 #ff827b
#fafafa
#394648

FONTS
Lato
********************************/
body,
a {
  color: #394648;
  font-family: "Lato", Helvetica, sans-serif;
}

.title {
  margin: 1rem auto;
}

.subtitle {
  padding: 3rem;
}

hr {
  margin: 0 auto;
  width: 80%;
}

/********************************
NAVIGATION
********************************/
.navbar {
  background-color: #fafafa;
  border-bottom: 2.5px solid #f1605950;
  height: 5.3rem;
}

.navbar-item {
  font-size: 1.5rem;
}

.navbar-item a:hover {
  color: #ff827b;
}

/** LOGO **/
.nav-logo {
  height: 3rem;
  margin: 0 2rem;
  text-align: center;
}

/** LANGUAGES **/
.language-link {
  position: fixed;
}

.eng {
  right: 12.2rem;
  top: 4.75rem;
}

.ger {
  right: 10rem;
  top: 4.75rem;
}

.eng:hover {
  right: 12.3rem;
  top: 4.65rem;
}

.ger:hover {
  right: 10.1rem;
  top: 4.65rem;
}

.language-img {
  height: 2rem;
  width: 2rem;
}

/* nav-background: round button hidden behind the menu button, expans when clicked */
.nav-background {
  background: radial-gradient(#606e70, #394648);
  border-radius: 50%;
  height: 4rem;
  position: fixed;
  right: 3.5rem;
  top: 3.5rem;
  width: 4rem;
  z-index: 100;

  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

/* menu button is a hidden checkbox, so that state "checked" can be styled */
.nav-checkbox {
  display: none;
}

/* makes background of menu appear */
.nav-checkbox:checked~.nav-background {
  transform: scale(80);
}

/* lets menu items be visible */
.nav-checkbox:checked~.navigation-nav {
  opacity: 1;
  width: 100%;
}

.nav-btn {
  background-color: #ffffff;
  border: 2.5px solid #f1605950;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem #00000010;
  height: 5.5rem;
  position: fixed;
  right: 3rem;
  text-align: center;
  top: 2.25rem;
  width: 5.5rem;
  z-index: 300;

  cursor: pointer;
}

.navigation-nav {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;

  /* hide navigation items when menu button is not clicked */
  opacity: 0;
  width: 0;

  /* menu animation */
  transition: all 0.8s;
}

.nav-list {
  left: 50%;
  list-style: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.nav-item {
  margin: 1rem;
}

.nav-item a {
  color: #fafafa;
}

/** FUNCTIONALITY **/
.nav-link:link,
.nav-link:visited {
  background-image: linear-gradient(120deg,
      transparent 0%,
      transparent 50%,
      #f16059 50%);
  background-size: 250%;
  ;
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}

.nav-link:hover,
.nav-link:active {
  background-position: 100%;
  transform: translate(1rem);
}

/** ICON **/
.nav-icon {
  background-color: #394648;
  display: inline-block;
  height: 1.5px;
  position: relative;
  margin-top: 2.65rem;
  width: 2rem;
}

.nav-icon::before,
.nav-icon::after {
  background-color: #394648;
  content: "";
  display: inline-block;
  height: 1.5px;
  left: 0;
  position: absolute;
  transition: all 0.2s;
  width: 2rem;
}

.nav-icon::before {
  top: -0.5rem;
}

.nav-icon::after {
  top: 0.5rem;
}

.nav-btn:hover {
  top: 2.1rem;
  right: 3.1rem;
}

.nav-checkbox:checked+.nav-btn .nav-icon {
  background-color: transparent;
}

.nav-checkbox:checked+.nav-btn .nav-icon::before {
  top: 0;
  transform: rotate(135deg);
}

.nav-checkbox:checked+.nav-btn .nav-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/********************************
HEADER
********************************/
header {
  background-image: linear-gradient(#ffffff99, #ffffff99), url(../images_icons/workspace_02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.heading-primary {
  line-height: 6rem;
  margin: 4rem;

  backface-visibility: hidden;
  /* stops animation from being "shaky", hides whatever is behind the moving element */
}

.heading-primary-main {
  display: block;
  font-family: "Satisfy", cursive;
  font-size: 5.4rem;

  animation-name: moveInLeft;
  /* which animation? */
  animation-duration: 2s;
  /* how long? */
  animation-timing-function: ease-out;
  /* starts fast, ends slower */
}

.heading-primary-sub {
  display: block;
  font-size: 2rem;
  letter-spacing: 1.5rem;
  text-transform: uppercase;

  animation-name: moveInRight;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

/********************************
ABOUT
********************************/
/** CONTACT **/
.nav-contact {
  display: inline-block;
}

.profile-pic {
  border: 2px solid #f16059;
  border-radius: 50%;
  height: 13rem;
  padding: 5px;
}

.nav-details {
  height: 13rem;
  margin: 1rem;
}

.nav-heading {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.nav-text {
  font-size: 1.2rem;
  line-height: 1.75rem;
}

.nav-text:hover {
  color: #f16059;
}

.social-icons a {
  font-size: 1.2rem;
  line-height: 1.75rem;
  margin: 0 1rem;
}

.social-icons a:hover {
  color: #f16059;
}

/********************************
SKILLS
********************************/
.card {
  border: 1px solid #39464840;
  border-radius: 30px;
  padding: 3rem;
}

.skill-icon {
  color: #f1605970;
  font-size: 5rem;
}

.card-header-title {
  font-size: 1.5rem;
}

.card .card-content .content ul {
  list-style: none;
}

.content table td {
  border: none;
}

/********************************
RECENT WORK
********************************/
.projects .project-grid {
  padding-bottom: 3rem;
}

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 1.75rem;
}

.projects .project-grid figure img.project-preview {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.projects .project-grid figure figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 3rem;
  color: #ffffff;
  z-index: 1;
}

.projects .project-grid figure figcaption p {
  color: #ffffff;
  font-size: 1.15rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding-top: 1.25rem;
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded {
  margin: 1.5rem auto;
  font-size: 1.1rem;
  padding: 1.2rem;
  font-weight: 400;
  border: 2px solid #8ed8e6;
  color: #ffffff;
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded:hover {
  background-color: #8ed8e6;
  color: #254E70;
}

.projects .project-grid figure figcaption a.button.is-primary.is-outlined.is-rounded .icon {
  margin-left: 0.1rem;
  margin-right: 0.5rem;
  width: 1.25rem;
}

.projects .project-grid .overlay {
  background-color: #254E70;
}

.projects .project-grid .overlay,
.projects .project-grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .45s ease-in-out;
  transition: .45s ease-in-out
}

.projects .project-grid figure:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1)
}

.projects .project-grid figure:hover .overlay,
.projects .project-grid figure:hover figcaption {
  opacity: 1
}

.click-here-p {
  font-size: 1.5rem;
}

.click-here-link {
  font-size: 1.5rem;
  font-weight: 800;
}

.click-here-link:hover {
  color: #8ed8e6;
}

/********************************
TESTIMONIALS
********************************/
.quote {
  font-size: 1.5rem;
  margin: 2rem;
}

.testimonals-credit {
  line-height: 2rem;
}

.author {
  font-size: 1.25rem;
  font-weight: 800;
}

.testimonials-picture {
  border-radius: 50%;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, .1),
    0 0 0 1px rgba(10, 10, 10, .02);
  margin-top: 2rem;
  width: 6rem;
}

/********************************
FOOTER
********************************/
#go-to-top-btn {
  bottom: 3rem;
  color: #f16059;
  display: none;
  font-size: 3rem;
  position: fixed;
  right: 4rem;
  text-decoration: none;
  z-index: 500;
}

#go-to-top-btn:hover {
  color: #ff827b;
}

.footer {
  background-color: #394648;
  border-top: 4px solid #ff827b;
  color: #ffffff;
  padding-bottom: 3rem;
}

.footer a {
  color: #ffffff;
  font-size: 2rem;
  margin-right: 1rem;
}

.footer a:hover {
  color: #f16059;
}

.copyright {
  font-size: 1rem;
}

.bulma {
  height: 1.5rem;
}

.icons-ref {
  font-size: 0.75rem;
}

#icons8-link {
  font-size: 0.75rem;
  font-weight: 800;
  margin-right: 0;
}


/********************************
PROJECTS
********************************/


/********************************
ANIMATIONS
********************************/
@keyframes moveInLeft {

  /* for good browser performance only animate two properties */
  /* starting point */
  0% {
    opacity: 0;
    transform: translateX(-100px);
    /* moves on x-achsis, so only specify x*/
  }

  /* animation ends at */
  100% {
    opacity: 1;
    transform: translateX(0);
    /* end at original position */
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/********************************
RESPONSIVENESS
********************************/

@media screen and (min-width: 769px) {
  .projects .project-grid {
    padding-top: 4rem
  }

  .projects .project-grid figure figcaption {
    padding: 0rem 2rem
  }
}