/********************************
COLORS
#C9F0FF
#4B88A2
#254E70
#002642
#F46036

GRADIENTS

FONTS

********************************/

/********************************
NAVIGATION
********************************/
/* nav-background: round button hidden behind the menu button, expans when clicked */
.nav-background {
  background-image: radial-gradient(#f0fbff, #c9f0ff);
  border-radius: 50%;
  height: 6rem;
  position: fixed;
  right: 4.5rem;
  top: 4.5rem;
  width: 6rem;
  z-index: 100;

  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
/* menu button is a hidden checkbox, so that state "checked" can be styled */
.nav-checkbox {
  display: none;
}
/* makes background of menu appear */
.nav-checkbox:checked ~ .nav-background {
  transform: scale(80);
}
/* lets menu items be visible */
.nav-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}
.nav-btn {
  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem #00000010;
  height: 7rem;
  position: fixed;
  right: 4rem;
  top: 4rem;
  width: 7rem;
  z-index: 300;
}
.navigation-nav {
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;

  /* hide navigation items when menu button is not clicked */
  opacity: 0;
  width: 0;

  /* menu animation */
  transition: all 0.8s;
}
.nav-list {
  left: 50%;
  list-style: none;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.nav-item {
  margin: 1rem;
}
.nav-link:link,
.nav-link:visited {
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    #f46036 50%
  );
  background-size: 250%;
  color: #002642;
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
}
.nav-link:hover,
.nav-link:active {
  background-position: 100%;
  transform: translate(1rem);
}

/********************************
HEADER
********************************/

/********************************
ABOUT
********************************/

/********************************
SKILLS
********************************/

/********************************
RECENT WORK
********************************/

/********************************
TESTIMONIALS
********************************/

/********************************
FOOTER
********************************/
